/* common css */
html, body, .container{position: relative; width: 100%; height: 100%; font-family: 'Nanum Gothic', sans-serif; letter-spacing: -0.5px;}
input{display: block; border: 1px solid #c9c9c9; outline:0; box-sizing: border-box;}
.fontCrack{transform: skew(-0.1deg);} /* 폰트 깨질 경우 (구글 웹폰트 문제로 보임) */
.container{padding: 0 30px; background-color: #f4f4f5} /* 200210 수정*/
[type="checkbox"]{
    display: none !important;
}
#app{width: 100%; height: 100%;}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* 간격 프리셋 */
.mb0{margin-bottom: 0 !important;}
/*popup_default*/
.popup{position: fixed; z-index: 9999; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5)}
.popupBox{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    padding: 20px;
    border: 1px solid #e00529;
    background: #fff;
    transform: translate(-50%, -50%);
}
.btn_pop_close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    background-color: transparent;
    background: url("../image/btn_close.png") no-repeat;
}
.popupBox .popupTitle{
    position: relative;
    margin-bottom: 20px;
    padding-left: 13px;
    height: 17px;
    color: #e00529;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.popupBox .popupTitle:before{
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 3px;
    height: 17px;
    background-color: #e00529;
}

/* 버튼 프리셋 */
.btn{text-align: center;}
.btn_mid{width: 107px;}
.btn_primary{width: 100%;}
.btn_confirm{color: #fff; background-color: #e00529;}
.btn_cancel{color: #fff; background-color: #b4b4b4;}

/* g_navi */
.g_navi{
    position: fixed;
    z-index: 500;
    top: 30px;
    left: 30px;
}
.g_navi .nav_btn{
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background-image: url("../image/bg_nav.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.g_navi ul{
    display: none;
    position: absolute; 
    z-index: 200;
    top:100%; 
    left: 0;
    margin-top: 5px;
    width: 134px;
    overflow: hidden;
}
.g_navi ul.on{
    display: block;
}
.g_navi ul li{
    display: block;
    width: 100%;
    padding: 0 15px;
    color: #282828;
    font-size: 14px;
    line-height: 43px;
    letter-spacing: -1px;
    border: 1px solid #b0b4bc;
    border-bottom: 0;
    background-color: #fff;
}
.g_navi ul li:last-child{
    border-bottom: 1px solid #b0b4bc;
}
.g_navi ul li a{
}
.g_navi ul li:focus{
    font-weight: 700;
    color: #000;
    background-color: #b0b4bc;
}

/*00_login.html*/
.main.container{background: url("../image/login_bg.jpg") no-repeat; background-size: 100% 100%;}
.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 316px;
    height: 390px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
    transform: translate(-50%, -50%)
}
.loginTopbox{
    position: relative;
}
.loginTopbox h1{
    position: absolute;
    margin-bottom: 10px;
    bottom: 100%;
    right:0; 
}
.loginTopbox h2{
    padding: 30px 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #e00529;
    color: #fff;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    line-height: 1.2;
}
/* 200210 수정 */
.loginTopbox p{
    padding: 20px 0;
    color: #e85971;
    font-size: 20px;
    font-weight: 700;
    text-align: center; 
}
/* // 200210 수정 */
.loginBox form{
    padding:0 40px;
}
/* 200210 수정 */
.loginBox form .inputText{    
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    letter-spacing: -0.5px;
}
/* 200210 수정 */

.loginBox form .helptxt{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px; 
    width: 100%;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.loginBox form input[type="text"]:focus,
.loginBox form input[type="password"]:focus{
    outline: #e00529 auto 1px; 
}
/* 200210 수정 */
.loginBox form label{
    display: block;
    margin-bottom: 15px;
}
/* // 200210 수정 */
.loginBox form label span{
    display: inline-block; 
    vertical-align: middle;
    color: #666;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.5px;
}
.loginBox form label span:before{
    content:"";
    display: inline-block;
    vertical-align: bottom;
    margin-right: 6px;
    width: 13px;
    height: 13px;
    background: url("../image/chk_bg.png") no-repeat;
    background-size: 13px 13px;
}
.loginBox form label :checked+span:before{
    background: url("../image/chk_enable_bg.png") no-repeat;
}
.loginBox form .btn_login{
    display: block;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    background-color: #e00529;
}
.loginBox form .btn_resist{
    display: block;
    margin-top: 10px;
    height: 40px;
    color: #999;
    font-size: 16px;
    font-weight: 800;
    border: 1px solid #999;
    background-color: #e5e5e5;
}
/* 200210 수정*/
.CSinfo{
    position: absolute; 
    top: 100%;
    left: -74px;
    right: -74px;
    margin-top: calc(100vh/2 - 240px);
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.1s;
}
/* 200210 수정*/
.CSinfo>a{
    color:#333;
    font-weight: bold;
}
/* 200210 추가 */
.inputText:focus~.CSinfo{opacity: 0;}
/* 200210 추가 */

/*00_01_password*/
.passwordEdit{
    width: 100%;
    height: 100%;
}
.passwordEdit .inputBox,
.passwordEdit .btnBox{
    overflow: hidden;
}
.passwordEdit .inputBox+.inputBox{
    margin-top: 7px;
}
.passwordEdit .inputBox span{
    position: relative;
    float: left;
    padding-left: 14px;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.5px; 
}
.passwordEdit .inputBox span:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0; 
    margin-top: -1.5px;
    width: 3px;
    height: 3px;
    background-color: #f6b4be;
}
.passwordEdit .inputBox input{
    float: right; 
    margin-left: 10px;
    padding-left: 5px;
    width: 120px; 
    height: 26px;
}
.passwordEdit .btnBox{margin-top: 20px; font-size: 0; text-align: center;}
.passwordEdit .btnBox button{display: inline-block; font-size: 14px; height: 33px; line-height: 33px;}
.passwordEdit .btnBox button+button{margin-left: 9px;}

.confirmBox{
    padding: 38px 0;
    color: #444; 
    font-size: 14px;
    text-align: center;
}

/* 01_01_selectFormat */
.selectFormat{
    width: 280px; 
    height: 211px; 
    overflow-y: scroll;
}
.selectFormat button{
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 14px; 
    text-align: center;
    border: 1px solid #999;
    border-top: 0;
    background: #fff;
}
.selectFormat button:first-child{
    border-top: 1px solid #999; 
}
.selectFormat button:nth-child(even){
    background-color: #e5e5e5;
}
.selectFormat button:focus{
    color: #fff;
    border-color: #e00529;
    background-color: #e00529;
}

/* 01_00_main*/
/********* 200210 수정 *******/
.main_selectBox{ 
    position: relative;
    z-index: 190;
    float: left; 
    margin-top: 18px;
    padding-left: 10px;
    width: 150px;
    height: 50px;
    line-height: 33px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: url("../image/bg_arrow.png");
    background-repeat: no-repeat;
    background-position: 130px 22px;
}
.main_selectBox>p{
    line-height: 50px;
}
.main_selectBox .selectBox_menu{
    display: none;
    position: absolute;
    top:100%;
    left: -1px;
    right: -1px;
    margin-top: 1px;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
}
.main_selectBox .selectBox_menu.on{
    display: block;
}
.main_selectBox .selectBox_menu>li{
    padding-left: 10px; 
    line-height: 44px;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
    cursor: pointer;
}
/********* //200210 수정 *******/
.contBox.main{
    padding-top: 30px;
    height: calc(100vh - 114px);
}
.contBox.main>.box{
    height: 100%;
    box-shadow: 0px 0px 6px 5px rgba(0,0,0,0.05);
}
.contBox.main>.box:after{
    content: "";
    clear: both;
    display: block;
}
.contBox.main .box .leftBox,
.contBox.main .box .rightBox{
    position: relative;
    float: left;
    padding: 30px;
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.contBox.main .box .leftBox{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.contBox.main .box .leftBox:after{
    content: "";
    position: absolute;
    top: 30px;
    right: 1px;
    bottom: 30px;
    width: 1px;
    background-color: #eff0f1;
}
.contBox.main .box .rightBox{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.contBox.main .box .leftBox>.list{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}
.contBox.main .box .leftBox>.list li{
    color: #282828;
    font-size: 16px;
    text-align: center;
    line-height: 43px;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}
.contBox.main .box .leftBox>.list li:last-child{
    border-bottom: 1px solid #e5e5e5;
}
.contBox.main .box .leftBox>.list li.on{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    background-color: #e00529;
}
/* 최근 작성 문서일 경우 css */
.contBox.main .box .rightBox>.box{
    height: calc((100vh - 224px) / 2);
}
.contBox.main .box .rightBox>.box+.box{
    margin-top: 20px;
}
.contBox.main .box .rightBox>.box h3{
    position: relative;
    color: #282828;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}
.contBox.main .box .rightBox>.box h3:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #282828;
}
.contBox.main .box .rightBox>.box .listTit{
    height: 40px;
    font-size: 0;
    line-height: 40px;
}
.contBox.main .box .rightBox>.box .listTit span{
    display: inline-block;
    color: #282828;
    font-size: 14px;
    font-weight: 700;
    text-align-last: center;
}
.contBox.main .box .rightBox>.box .listTit span:first-child{width:20%;}
.contBox.main .box .rightBox>.box .listTit span:last-child{width: 80%;}

.contBox.main .box .rightBox>.box .listBox{
    overflow: hidden;
    padding: 10px;
    height: calc(100% - 80px);
    border: 1px solid #e5e5e5;
    background-color: rgba(249,249,249,0.5);
}
.contBox.main .box .rightBox>.box .list{
    overflow-y: scroll;
    height: 100%;
    border: 1px solid #e5e5e5;
}
.contBox.main .box .rightBox>.box .list li{
    width: 100%;
    height: 43px;
    color: #444;
    font-size: 0;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}
.contBox.main .box .rightBox>.box .list li span{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 43px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contBox.main .box .rightBox>.box .list li .itemTit{
    width: calc(20% - 1px);
    border-right: 1px solid #e5e5e5;
}
.contBox.main .box .rightBox>.box .list li .itemName{
    padding: 0 10px;
    width: 80%;
}
.contBox.main .box .rightBox>.box .list li:nth-child(odd){
    background-color: #f5f6f7;
}
.contBox.main .box .rightBox>.box .list li:first-child{
    border-top: 0;
}
.contBox.main .box .rightBox>.box .list li:last-child{
    /*border-bottom: 1px solid #e5e5e5;*/
}
/* //최근 작성 문서일 경우 css */


/* 각 문서 종별일 경우 css */
.contBox.main .box .rightBox>.box.formType{
    position: absolute;
    top: 20px;
    left: 30px;
    right: 30px;
    height: auto;
    max-height: calc(100% - 60px);
}
.contBox.main .box .rightBox>.box.formType .selectDiv{
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e5e5e5;
}
.contBox.main .box .rightBox>.box.formType .selectDiv .selTitle{
    color: #282828;
    font-size: 18px;
    font-weight: 700;
}
.contBox.main .box .rightBox>.box.formType .selectDiv select{
    float: right; /* 20200225 추가 */
    margin-top: 5px; /* 20200225 추가 */
    /* margin-left: 20px; */ /* 20200225 수정 */
    padding-left: 10px;
    width: 150px;
    height: 35px;
    line-height: 33px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: url("../image/bg_arrow.png");
    background-repeat: no-repeat;
    background-position: 130px 15px;
}
.contBox.main .box .rightBox>.box.formType .list{
    overflow-y: scroll;
    max-height: calc(100vh - 324px);
    /* background-color: #fc0; */ /* 20200225 수정 */
}
/* 20200225 수정 */
.contBox.main .box .rightBox>.box.formType .list li{
    padding:0 10px;
    font-size: 14px;
    text-align: center;
    line-height: 43px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* //20200225 수정 */
/* //각 문서 종별일 경우 css */

/* 02_00_edit_form */
/* 200210 수정 */
.topLogo{ 
    position: relative;
    z-index: 1;
    float: left;
    margin-left: 150px;
    padding: 30px 0;
    width: calc(100% - 300px);
    text-align: center;
    color: #e00529;
    font-size: 24px;
    font-weight: 800;
}
/* 200210 수정 */

.topLogo img{
    display: inline-block;
    width: 72px;
    height: 43px;
}
/* 200210 수정 */
.contBox{
    clear: both; 
    position: relative;
    /* padding: 0 30px; */ /* 20200225 수정 */
    width: 100%;
}
/* // 200210 수정 */

.contBox:after{
    content: "";
    clear: both;
    display: block;
}
.contBox .tit{
    float: left;
    position: relative;
    padding: 20px 0;
    color: #282828;
    font-size: 24px;
    font-weight: 900;
}
.contBox .tit:before{
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 53px;
    height: 3px;
    background-color: #e00529;
}
.contBox .viewerBox{
    clear: both;
    width: 100%;
    height: 500px;
    background-color: #d8dade;
}
.contBox .btnBox{
    text-align: right;
    font-size: 0;
}
.contBox .btnBox.top{
    float: right;
}
.contBox .btnBox.bot{
    margin-top: 20px;
    width: 100%;
}
.contBox .btnBox button{
    width: 120px;
    height: 50px;
    color: #333;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #adadad;
}
.contBox .btnBox button+button{
    margin-left: 10px;
}

/* 03_00_search_form */
.contBox .searchForm{
    clear: both;
    padding: 10px 20px; 
    color: #526786;
    border: 1px solid #6088bb;
    background-color: #f0f2f6;
}
.searchForm:after{    
    content: "";
    clear: both;
    display: block;
}
.searchForm label{
    margin-right: 10px; 
    font-size: 0;
    float:left;
}
.searchForm label.topline{
    margin-bottom: 10px;
}
.searchForm label [type="checkbox"]+span{
    position: relative;
    padding-left: 20px; 
}
.searchForm label [type="checkbox"]+span:before{
    content:"";
    position: absolute;
    top: 50%;
    left:0;
    margin-top: -6.5px;
    width: 13px;
    height: 13px;
    background: url("../image/chk_bg.png") no-repeat;
    background-size: 13px 13px;
}
.searchForm label :checked+span:before{
    background: url("../image/chk_enable_bg.png") no-repeat;
}
.searchForm .txt{
    width:70px;
    vertical-align: middle;
}

/********* 200210 수정 *******/
.searchForm .stat_select{
    position: relative;
    float: left;
    padding-left: 10px;
    width: 150px;
    height: 35px;
    line-height: 33px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: url("../image/bg_arrow.png");
    background-repeat: no-repeat;
    background-position: 130px 15px;
}
.searchForm .stat_select .selectBox_menu{
    display: none;
    position: absolute;
    z-index: 100;
    top:100%;
    left: -1px;
    right: -1px;
    margin-top: 1px;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
}
.searchForm .stat_select .selectBox_menu.on{display: block;}
.searchForm .stat_select .selectBox_menu li{
    padding-left: 10px;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
}
/********* // 200210 수정 *******/
.searchForm .searchDate{
    clear: both;
}
.searchForm label span,
.searchForm label input,
/* .searchDate .date, 2020-02-03 수정 */
.searchDate span{
    display: inline-block;
    font-size: 0;
}
.searchDate span,
.searchForm label span{
    font-size: 14px; 
    line-height: 35px;
    vertical-align: middle;
}
.searchForm label input[type="text"]{
    padding-left: 10px;
    width: 150px;
    height: 35px;
    font-size: 16px;
    vertical-align: middle;
}
.searchDate{font-size: 0;}
/* .searchDate .date{
    position: relative;
    margin-right: 10px;
    padding-left: 9px;
    width: 150px; 
    height: 35px; 
    color: #333;
    font-size: 14px;
    line-height: 33px;
    vertical-align: middle;
    border: 1px solid #ccc;
    background-color: #fff;
}
.searchDate .date:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -5px;
    width: 12px;
    height: 10px;
    background:url("../image/bg_calander.png") no-repeat;
}
2020-02-03 삭제 */
/* 2020-02-03 추가 */
.searchDate .date{
    position: relative;
    display:inline-block;
}
.searchDate .date input{
    position: relative;
    margin-right: 10px;
    padding-left: 9px;
    width: 150px; 
    height: 35px; 
    color: #333;
    font-size: 14px;
    line-height: 33px;
    vertical-align: middle;
    border: 1px solid #ccc;
    background-color: #fff;
}
.searchDate .date .vdp-datepicker__calendar .cell.day-header{
    font-size: 14px;
}
.searchDate .date .vdp-datepicker__calendar .weekend.sun,
.searchDate .date .vdp-datepicker__calendar .cell.day-header:first-child{
    color: #e00529;
}
.searchDate .date .vdp-datepicker__calendar .weekend.sat,
.searchDate .date .vdp-datepicker__calendar .cell.day-header:nth-child(7){
    color: dodgerblue;
}
.searchDate .date:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -7.5px;
    width: 18px;
    height: 15px;
    background:url("../image/bg_calander.png") no-repeat;
    background-size: cover;
}
/* 2020-02-03 추가 end */
.searchDate .date.mr{
    margin-left: 10px; 
    margin-right: 20px;
}
.contBox .searchCon{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
}
.contBox .searchCon .listitem{
    border-bottom: 1px solid #e5e5e5;
}
.contBox .searchCon .listitem.conHead{
    border-bottom: 0;
}
.contBox .searchCon .listitem:after{
    content: "";
    clear: both;
    display: block;
}
.contBox .searchCon .listitem>div{
    padding: 15px 10px;
    float:left; 
    color: #666;
    font-size: 16px;
    text-align: center; 
    border-right:1px solid #e5e5e5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contBox .searchCon .listitem>div:nth-child(1){width: 10%;}
.contBox .searchCon .listitem>div:nth-child(2){width: 40%;}
.contBox .searchCon .listitem>div:nth-child(3){width: 15%;}
.contBox .searchCon .listitem>div:nth-child(4){width: 20%;}
.contBox .searchCon .listitem>div:nth-child(5){width: 15%; border-right:0;}

.contBox .searchCon .conHead>div{
    padding: 20px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #626a7a;
}
.contBox .searchCon .conHead{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.contBox .searchCon .conBody{
    overflow-y: scroll;
    height: calc(100vh - 400px);
    border-bottom: 1px solid #e5e5e5;
}
.contBox .searchCon .conBody .listitem:nth-child(even){background-color:#f5f6f7;}
.contBox .searchCon .conBody .listitem:nth-child(odd){background-color:#fff;}

/* 200115 로딩영역 */
.loadingBox{position:fixed; top:0; left:0; right:0; bottom:0; z-index: 9999; width:100%; background:rgba(0,0,0,0.2);}
.loadingBox p{position:absolute; top:50%; left:50%; }   
.loadingBox .loadingBar{margin-top: -25px; margin-left: -25px; width:50px; height: 50px; font-size:0; background:url('../image/loading_bar01.png') no-repeat; background-size:50px 50px; transform:rotate(360deg); animation: loading 1s ease-in-out infinite;}

/* 200121 추가 */
.innerbox{
    width: 50%;
    vertical-align: middle;
}
.innerbox.right{    
    float: right;
}
.innerbox .txt,
.innerbox select{
    float: left;
    vertical-align: middle;
    line-height: 35px;
}
.innerbox .txt{
    font-size: 14px;
}
/* //200121 추가 */

/* 200213 메인화면 수정 */
.contBox.main .box .leftBox{width: 30%;}
.contBox.main .box .rightBox{width: 70%;}
.contBox.main .box .leftBox>.list{
    top: 30px;
    transform: translate(-50%, 0);
}
.contBox.main .box .rightBox>.box:after{content: ""; clear: both; display: block;}
.contBox.main .box .rightBox>.box h3{float: left; width: 20%; height: 100%; font-size: 16px; letter-spacing: -1px;}
.contBox.main .box .rightBox>.box .listTit{float:left; width: 80%; height: 40px; line-height: 40px;}
.contBox.main .box .rightBox>.box .listBox{float:left; width: 80%; height: calc(100% - 40px);}
/* //200213 메인화면 수정 */

/* 20200225 메인 셀렉트 박스 수정*/
.contBox.main .box .rightBox>.box.formType .selectDiv .main_selectBox{
    float: right;
    margin-top: 10px;
    height: 30px;
    background-position: 130px 12px;
}
.contBox.main .box .rightBox>.box.formType .selectDiv .main_selectBox>p{
    line-height: 30px;
}
.contBox.main .box .rightBox>.box.formType .selectDiv .main_selectBox .selectBox_menu>li{
    line-height:30px;
}
/* //20200225 메인 셀렉트 박스 수정 */

/* 키프레임 */
@keyframes loading{
    0% {transform: rotate(0deg)};
    100% {transform: rotate(360deg)};
}

/* 20200225 미디어 쿼리 부분 수정 */
/* case : device orientation portrait */
@media (orientation: portrait){
    .contBox .searchCon .listitem>div{
        font-size: 14px;
    }
    .contBox.main .box .rightBox>.box{
        padding-top: 10%;
        height: calc((100vh - 324px) / 2);
    }
    .contBox.main .box .rightBox>.box:first-child{
        padding-top: 0;
    }
    .contBox.main .box .rightBox>.box+.box{
        margin-top: 20%;
    }
    .contBox.main .box .rightBox>.box.formType{
        padding-top: 0;
    }
    .innerbox.right{
        width: 32%;
    }
    .innerbox.right .txt{
        width: 40px;
    }
    .searchForm .stat_select{
        width: calc(100% - 40px);
    }  
    .contBox.main .box .leftBox{
        width: 50%;
    }
    .contBox.main .box .rightBox{
        width: 50%;
    }
    .contBox.main .box .rightBox>.box h3{
        float: none; width: 100%; height: 40px;
    }
    .contBox.main .box .rightBox>.box .listTit{
        float:none; width: 100%; height: 40px; line-height: 40px;
    }
    .contBox.main .box .rightBox>.box .listBox{
        float:none; width: 100%; height: calc(100% - 80px);
    }
    .contBox.main .box .rightBox>.box.formType .selectDiv select{
        width: 90px; background-position: 75px 15px;
    }
    .contBox.main .box .rightBox>.box.formType .selectDiv .main_selectBox{
        width: 90px; background-position: 75px 15px;
    }
}